@charset "UTF-8";

#underline{
    animation: piscando 0.9s infinite ease-in;
}

@keyframes piscando {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

#inside{
    animation: letreiro 20s infinite linear alternate-reverse;
}

@keyframes letreiro {
    from{
        transform: translateX(0%);
    } to {
        transform: translateX(-100%);
    }
}

.tech:nth-of-type(1){
    transform: rotateY(0deg) translateZ(250px);
    animation: tech1 10s infinite linear;
}

.tech:nth-of-type(2){
    transform: rotateY(30deg) translateZ(250px);
    animation: tech2 10s infinite linear;
}

.tech:nth-of-type(3){
    transform: rotateY(60deg) translateZ(250px);
    animation: tech3 10s infinite linear;
}

.tech:nth-of-type(4){
    transform: rotateY(90deg) translateZ(250px);
    animation: tech4 10s infinite linear;
}

.tech:nth-of-type(5){
    transform: rotateY(120deg) translateZ(250px);
    animation: tech5 10s infinite linear;
}

.tech:nth-of-type(6){
    transform: rotateY(150deg) translateZ(250px);
    animation: tech6 10s infinite linear;
}

.tech:nth-of-type(7){
    transform: rotateY(180deg) translateZ(250px);
    animation: tech7 10s infinite linear;
}

.tech:nth-of-type(8){
    transform: rotateY(210deg) translateZ(250px);
    animation: tech8 10s infinite linear;
}

.tech:nth-of-type(9){
    transform: rotateY(240deg) translateZ(250px);
    animation: tech9 10s infinite linear;
}

.tech:nth-of-type(10){
    transform: rotateY(270deg) translateZ(250px);
    animation: tech10 10s infinite linear;
}

.tech:nth-of-type(11){
    transform: rotateY(300deg) translateZ(250px);
    animation: tech11 10s infinite linear;
}

.tech:nth-of-type(12){
    transform: rotateY(330deg) translateZ(250px);
    animation: tech12 10s infinite linear;
}

@keyframes tech1 {
    from{
        transform: rotateY(0deg) translateZ(250px);
    } to {
        transform: rotateY(360deg) translateZ(250px);
    }
}
 
@keyframes tech2 {
    from{
        transform: rotateY(30deg) translateZ(250px);
    } to {
        transform: rotateY(390deg) translateZ(250px);
    }
}
 
@keyframes tech3 {
    from{
        transform: rotateY(60deg) translateZ(250px);
    } to {
        transform: rotateY(420deg) translateZ(250px);
    }
}
 
@keyframes tech4 {
    from{
        transform: rotateY(90deg) translateZ(250px);
    } to {
        transform: rotateY(450deg) translateZ(250px);
    }
}
 
@keyframes tech5 {
    from{
        transform: rotateY(120deg) translateZ(250px);
    } to {
        transform: rotateY(480deg) translateZ(250px);
    }
}
 
@keyframes tech6 {
    from{
        transform: rotateY(150deg) translateZ(250px);
    } to {
        transform: rotateY(510deg) translateZ(250px);
    }
}
 
@keyframes tech7 {
    from{
        transform: rotateY(180deg) translateZ(250px);
    } to {
        transform: rotateY(540deg) translateZ(250px);
    }
}
 
@keyframes tech8 {
    from{
        transform: rotateY(210deg) translateZ(250px);
    } to {
        transform: rotateY(570deg) translateZ(250px);
    }
}
 
@keyframes tech9 {
    from{
        transform: rotateY(240deg) translateZ(250px);
    } to {
        transform: rotateY(600deg) translateZ(250px);
    }
}
 
@keyframes tech10 {
    from{
        transform: rotateY(270deg) translateZ(250px);
    } to {
        transform: rotateY(630deg) translateZ(250px);
    }
}
 
@keyframes tech11 {
    from{
        transform: rotateY(300deg) translateZ(250px);
    } to {
        transform: rotateY(660deg) translateZ(250px);
    }
}
 
@keyframes tech12 {
    from{
        transform: rotateY(330deg) translateZ(250px);
    } to {
        transform: rotateY(690deg) translateZ(250px);
    }
}