@charset "UTF-8";

#underline{
    animation: piscando 0.9s infinite ease-in;
}

#screenTxt::after{
    content: "_";
    animation: piscando 0.9s infinite ease-in;
}

@keyframes piscando {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.foto{
    filter: drop-shadow(0 0 8px var(--color1));
    animation: floating 2s infinite alternate-reverse ease-in-out;
}

#trofeu{ animation: floating 2s infinite alternate-reverse ease-in-out; }

@keyframes floating {
    from {
        transform: translateY(0);
    } to {
        transform: translateY(20px);
    }
}

#inside{
    animation: letreiro 20s infinite linear alternate-reverse;
}

@keyframes letreiro {
    from{
        transform: translateX(0%);
    } to {
        transform: translateX(-100%);
    }
}

.linkA{ 
    text-decoration: none;
    animation: linkAnimation 1s alternate-reverse infinite ease-in-out; 
}

.linkA:hover{
    text-decoration: underline;
}

.projLink{
    text-decoration: none;
    animation: linkAnimation 1s alternate-reverse infinite ease-in-out !important; 
}

@keyframes linkAnimation {
    from {
        color: var(--color1);
    } to {
        color: #16f75254;
    }
}

#EntrarEmContato a{
    animation: pulse 2s infinite alternate-reverse ease-in-out;
}

@keyframes pulse {
    from {
        transform: scale(0.95);
    } to {
        transform: scale(1);
    }
}

.fade-in {
    opacity: 0; /* Start invisible */
    clip-path: inset(0 100% 0 0); /* Clip the text from the left */
    animation: fadeInLeft 3s ease-in forwards; /* Apply the animation */
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        clip-path: inset(0 100% 0 0); /* Fully clipped from the left */
    }
    to {
        opacity: 1;
        clip-path: inset(0 0 0 0); /* Fully visible */
        filter: drop-shadow(0px 0px 5px );
    }
}