.tech:nth-of-type(1){
    transform: rotateY(0deg) translateZ(250px);
    animation: tech1 20s infinite linear;
}

.tech:nth-of-type(2){
    transform: rotateY(30deg) translateZ(250px);
    animation: tech2 20s infinite linear;
}

.tech:nth-of-type(3){
    transform: rotateY(60deg) translateZ(250px);
    animation: tech3 20s infinite linear;
}

.tech:nth-of-type(4){
    transform: rotateY(90deg) translateZ(250px);
    animation: tech4 20s infinite linear;
}

.tech:nth-of-type(5){
    transform: rotateY(120deg) translateZ(250px);
    animation: tech5 20s infinite linear;
}

.tech:nth-of-type(6){
    transform: rotateY(150deg) translateZ(250px);
    animation: tech6 20s infinite linear;
}

.tech:nth-of-type(7){
    transform: rotateY(180deg) translateZ(250px);
    animation: tech7 20s infinite linear;
}

.tech:nth-of-type(8){
    transform: rotateY(210deg) translateZ(250px);
    animation: tech8 20s infinite linear;
}

.tech:nth-of-type(9){
    transform: rotateY(240deg) translateZ(250px);
    animation: tech9 20s infinite linear;
}

.tech:nth-of-type(10){
    transform: rotateY(270deg) translateZ(250px);
    animation: tech10 20s infinite linear;
}

.tech:nth-of-type(11){
    transform: rotateY(300deg) translateZ(250px);
    animation: tech11 20s infinite linear;
}

.tech:nth-of-type(12){
    transform: rotateY(330deg) translateZ(250px);
    animation: tech12 20s infinite linear;
}

@keyframes tech1 {
    from{
        transform: rotateY(0deg) translateZ(250px);
    } to {
        transform: rotateY(360deg) translateZ(250px);
    }
}
 
@keyframes tech2 {
    from{
        transform: rotateY(30deg) translateZ(250px);
    } to {
        transform: rotateY(390deg) translateZ(250px);
    }
}
 
@keyframes tech3 {
    from{
        transform: rotateY(60deg) translateZ(250px);
    } to {
        transform: rotateY(420deg) translateZ(250px);
    }
}
 
@keyframes tech4 {
    from{
        transform: rotateY(90deg) translateZ(250px);
    } to {
        transform: rotateY(450deg) translateZ(250px);
    }
}
 
@keyframes tech5 {
    from{
        transform: rotateY(120deg) translateZ(250px);
    } to {
        transform: rotateY(480deg) translateZ(250px);
    }
}
 
@keyframes tech6 {
    from{
        transform: rotateY(150deg) translateZ(250px);
    } to {
        transform: rotateY(510deg) translateZ(250px);
    }
}
 
@keyframes tech7 {
    from{
        transform: rotateY(180deg) translateZ(250px);
    } to {
        transform: rotateY(540deg) translateZ(250px);
    }
}
 
@keyframes tech8 {
    from{
        transform: rotateY(210deg) translateZ(250px);
    } to {
        transform: rotateY(570deg) translateZ(250px);
    }
}
 
@keyframes tech9 {
    from{
        transform: rotateY(240deg) translateZ(250px);
    } to {
        transform: rotateY(600deg) translateZ(250px);
    }
}
 
@keyframes tech10 {
    from{
        transform: rotateY(270deg) translateZ(250px);
    } to {
        transform: rotateY(630deg) translateZ(250px);
    }
}
 
@keyframes tech11 {
    from{
        transform: rotateY(300deg) translateZ(250px);
    } to {
        transform: rotateY(660deg) translateZ(250px);
    }
}
 
@keyframes tech12 {
    from{
        transform: rotateY(330deg) translateZ(250px);
    } to {
        transform: rotateY(690deg) translateZ(250px);
    }
}


@media screen and (max-width: 710px){
    @keyframes tech1 {
        from{
            transform: rotateY(0deg) translateZ(115px);
        } to {
            transform: rotateY(360deg) translateZ(115px);
        }
    }
     
    @keyframes tech2 {
        from{
            transform: rotateY(30deg) translateZ(115px);
        } to {
            transform: rotateY(390deg) translateZ(115px);
        }
    }
     
    @keyframes tech3 {
        from{
            transform: rotateY(60deg) translateZ(115px);
        } to {
            transform: rotateY(420deg) translateZ(115px);
        }
    }
     
    @keyframes tech4 {
        from{
            transform: rotateY(90deg) translateZ(115px);
        } to {
            transform: rotateY(450deg) translateZ(115px);
        }
    }
     
    @keyframes tech5 {
        from{
            transform: rotateY(120deg) translateZ(115px);
        } to {
            transform: rotateY(480deg) translateZ(115px);
        }
    }
     
    @keyframes tech6 {
        from{
            transform: rotateY(150deg) translateZ(115px);
        } to {
            transform: rotateY(510deg) translateZ(115px);
        }
    }
     
    @keyframes tech7 {
        from{
            transform: rotateY(180deg) translateZ(115px);
        } to {
            transform: rotateY(540deg) translateZ(115px);
        }
    }
     
    @keyframes tech8 {
        from{
            transform: rotateY(210deg) translateZ(115px);
        } to {
            transform: rotateY(570deg) translateZ(115px);
        }
    }
     
    @keyframes tech9 {
        from{
            transform: rotateY(240deg) translateZ(115px);
        } to {
            transform: rotateY(600deg) translateZ(115px);
        }
    }
     
    @keyframes tech10 {
        from{
            transform: rotateY(270deg) translateZ(115px);
        } to {
            transform: rotateY(630deg) translateZ(115px);
        }
    }
     
    @keyframes tech11 {
        from{
            transform: rotateY(300deg) translateZ(115px);
        } to {
            transform: rotateY(660deg) translateZ(115px);
        }
    }
     
    @keyframes tech12 {
        from{
            transform: rotateY(330deg) translateZ(115px);
        } to {
            transform: rotateY(690deg) translateZ(115px);
        }
    }
    
}